#hero{
    background-image: url(../assets/images/tree.jpg);
    background-attachment: fixed;
    color: white;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1{
    font-size: 48px;
    text-align: center;
}