/* img{
    width: 100px;
} */

nav a{
    color: rgb(127, 127, 6);
    text-decoration: none;
}

nav > ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
}

nav > ul >li{
    padding: 12px;
    transition: 0.5s;
}

nav {
    background-color: #d1fad2;
}

.dropdown ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    opacity: 0%;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s;
        top: 0.5s;
    ;

}

nav > ul >li:hover{
    background-color: antiquewhite;

}

.dropdown ul li{
    background-color: #d1fad2;
    padding: 12px;
}

.dropdown{
    position: relative;
}

.dropdown:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
    
}

.dropdown ul li a{
    display: inline-block;
    

}

section img{
    width: 200px;
    align-items: center;
    float: left;
    padding: 20px;
}

.imageblock {

    display: flex;
  
  }
  
   #hero{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.model{
    width: 200px;
    align-items: center;
}
  
  .imageblock > div {
  
      display: flex;
  
      flex-direction: column;
  
      text-align: center;
  
  }

  @media screen and (max-width:768px) {

  }

/* hero{
    width: 100%;
    padding: 5px;
    text-align: left;
    text-decoration: wavy;
  }   */

#hero {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.sidebyside{
    display: flex;
    padding: 20px;
    align-items: center;
}

.sidebyside div{
    flex: 1;
}

.sidebyside div img{
    width: 100%;

}