table,
th,
td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
}

th{
    background-color: rgb(137, 30, 48);
}

#specialcell{
    background-color: aquamarine;
}

tbody tr:first-child{
    background-color: blanchedalmond;
}

