/* *{
    border: 3px solid black;
} */

li{
   display: inline-block;
   padding: 10px;
}

nav {
    background-color: rgb(0, 0, 0);
    text-align: center;
    position: sticky;
    top: 0;
    margin-top: 100px;
    position: sticky;
}

ul{
    padding: 0px;
}

li{
    display: inline-block;
    padding: 10px;
}

nav a{
    color: rgb(255, 255, 255);
}

main{
    height: 1500px;
}

li.active a{
    font-size: 200%;
    color: blue;
}

a:hover{
    text-decoration: none;
}

nav:hover{
    background-color: aquamarine;
}